{% assign style_search = section.settings.style_search | plus: 0 %}
<div class="header-main-wrap" style="--color-border:{{section.settings.cl_border_menu}};">
  <div class="header-top">
    <div
      class="container {% if section.settings.layout == 'full-width' %}{{section.settings.layout}} {% endif %}"
      {% if section.settings.custom_width %}
        style="--alo-container-width:{{ section.settings.container_width }}px;"
      {% endif %}
    >
      <div class="row">
        <div class="header-nav-mobile col-md-3 col-3">
          <div class="js-mobile-menu menu-bar mobile-navigation">
              
            <span class="icon">
              <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                <defs><style>.cls-1{fill:none;}</style></defs><title/><g data-name="Layer 2" id="Layer_2"><path d="M28,10H4A1,1,0,0,1,4,8H28a1,1,0,0,1,0,2Z"/><path d="M28,17H4a1,1,0,0,1,0-2H28a1,1,0,0,1,0,2Z"/><path d="M28,24H4a1,1,0,0,1,0-2H28a1,1,0,0,1,0,2Z"/></g><g id="frame"><rect class="cls-1" height="32" width="32"/></g>
              </svg>
            </span>
          </div>
        </div>
        {%- render 'logo_mobile' -%}
        {% if section.settings.header_design == 'logo-center_2l' %}
          <ul class="header-control hide-mobile col-md-3">
            {% if section.settings.header_use_search_home %}
              <li class="header_search  ">
                {% if style_search == 1 %}
                  <a
                    href="/search"
                    class="header-search push_side header-icon"
                    data-id="#search_pupop"
                    title="{{'general.search.title' | t}}"
                  >
<svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M11.9 11.731C11.8 11.731 11.8 11.731 11.9 11.731C11.8 11.8304 11.8 11.8304 11.8 11.8304C11.3 12.3275 10.7 12.7251 9.9 13.0234C9.2 13.3216 8.4 13.4211 7.6 13.4211C6.8 13.4211 6 13.2222 5.3 12.924C4.6 12.6257 4 12.2281 3.4 11.6316C2.9 11.1345 2.4 10.4386 2.1 9.74269C1.8 9.1462 1.7 8.45029 1.7 7.65497C1.7 6.85965 1.9 6.06433 2.2 5.36842C2.5 4.5731 2.9 3.97661 3.4 3.38012C4 2.88304 4.6 2.48538 5.3 2.18713C6 1.88889 6.8 1.69006 7.6 1.69006C8.4 1.69006 9.2 1.88889 9.9 2.18713C10.6 2.48538 11.3 2.88304 11.8 3.47953C12.3 3.97661 12.7 4.67251 13.1 5.36842C13.4 6.06433 13.6 6.76023 13.6 7.65497C13.6 8.45029 13.4 9.24561 13.1 9.94152C12.8 10.538 12.4 11.1345 11.9 11.731ZM16.7 15.4094L13.6 12.3275C14.1 11.6316 14.5 10.9357 14.8 10.1404C15.1 9.34503 15.2 8.45029 15.2 7.55556C15.2 6.46199 15 5.46784 14.6 4.5731C14.2 3.67836 13.7 2.88304 13 2.18713C12.3 1.49123 11.5 0.994152 10.6 0.596491C9.7 0.19883 8.7 0 7.6 0C6.6 0 5.6 0.19883 4.6 0.596491C3.7 0.994152 2.9 1.49123 2.2 2.18713C1.5 2.88304 1 3.67836 0.6 4.67251C0.2 5.56725 0 6.5614 0 7.65497C0 8.64912 0.2 9.64327 0.6 10.6374C1 11.5322 1.6 12.3275 2.3 13.0234C3 13.7193 3.8 14.2164 4.7 14.7134C5.6 15.0117 6.6 15.2105 7.6 15.2105C8.5 15.2105 9.4 15.1111 10.2 14.8129C11 14.5146 11.8 14.117 12.4 13.6199L15.5 16.7018C15.7 16.9006 15.9 17 16.1 17C16.3 17 16.5 16.9006 16.7 16.7018C16.9 16.5029 17 16.3041 17 16.1053C17 15.807 16.9 15.6082 16.7 15.4094Z" fill="#111111"/>
</svg>
 
                  </a>
                {% else %}
                  {%- render 'header-search' -%}
                {% endif %}
              </li>
            {% endif %}
          </ul>
        {% endif %}
        <div class="header-logo hide-mobile col-md-3">
          {%- render 'logo' -%}
        </div>

        {% if style_search != 1 and section.settings.header_design == 'logo-left_2l' %}
          <div class="search-bar pd-0 col hide-mobile {% if settings.vertical_menu_position == '3' %}vertical_menu_beside_search flex{%- endif -%}" style="--color-border:{{ section.settings.cl_bd_search}}">
            {%- if settings.use_vertical_menu -%}
              {% if settings.vertical_menu_position == '3' %}
                <div class="vertical_menu">
                  <h4 class="title_vertical_menu click flex">
                    <span class="icon-left">
                      <svg width="18" height="13" viewBox="0 0 18 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.5 7.5H16.5C16.7344 7.5 16.9297 7.42188 17.0859 7.26562C17.2552 7.09635 17.3398 6.89453 17.3398 6.66016C17.3398 6.4388 17.2552 6.25 17.0859 6.09375C16.9297 5.92448 16.7344 5.83984 16.5 5.83984H1.5C1.26562 5.83984 1.0638 5.92448 0.894531 6.09375C0.738281 6.25 0.660156 6.4388 0.660156 6.66016C0.660156 6.89453 0.738281 7.09635 0.894531 7.26562C1.0638 7.42188 1.26562 7.5 1.5 7.5ZM1.5 2.5H16.5C16.7344 2.5 16.9297 2.42188 17.0859 2.26562C17.2552 2.09635 17.3398 1.89453 17.3398 1.66016C17.3398 1.4388 17.2552 1.25 17.0859 1.09375C16.9297 0.924479 16.7344 0.839844 16.5 0.839844H1.5C1.26562 0.839844 1.0638 0.924479 0.894531 1.09375C0.738281 1.25 0.660156 1.4388 0.660156 1.66016C0.660156 1.89453 0.738281 2.09635 0.894531 2.26562C1.0638 2.42188 1.26562 2.5 1.5 2.5ZM1.5 12.5H16.5C16.7344 12.5 16.9297 12.4219 17.0859 12.2656C17.2552 12.0964 17.3398 11.8945 17.3398 11.6602C17.3398 11.4388 17.2552 11.25 17.0859 11.0938C16.9297 10.9245 16.7344 10.8398 16.5 10.8398H1.5C1.26562 10.8398 1.0638 10.9245 0.894531 11.0938C0.738281 11.25 0.660156 11.4388 0.660156 11.6602C0.660156 11.8945 0.738281 12.0964 0.894531 12.2656C1.0638 12.4219 1.26562 12.5 1.5 12.5Z" fill="#212529"/>
                      </svg>
                    </span>
                  </h4>
                  {%- render 'list-vertical-menu' -%}
                </div>
              {%- endif -%}
            {%- endif -%}
            {%- render 'header-search', style_search: style_search -%}
          </div>
        {% endif %}

        <div class="header-top-meta  col-md-3">
          <ul class="header-control">
            {% if section.settings.header_design == 'logo-left_2l' %}
              {% if style_search == 1 %}
                <li class="header_search  hide-mobile">
                  <a
                    href="/search"
                    class="header-search push_side header-icon"
                    data-id="#search_pupop"
                    title="{{'general.search.title' | t}}"
                  >
                  <svg height="27" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M11.9 11.731C11.8 11.731 11.8 11.731 11.9 11.731C11.8 11.8304 11.8 11.8304 11.8 11.8304C11.3 12.3275 10.7 12.7251 9.9 13.0234C9.2 13.3216 8.4 13.4211 7.6 13.4211C6.8 13.4211 6 13.2222 5.3 12.924C4.6 12.6257 4 12.2281 3.4 11.6316C2.9 11.1345 2.4 10.4386 2.1 9.74269C1.8 9.1462 1.7 8.45029 1.7 7.65497C1.7 6.85965 1.9 6.06433 2.2 5.36842C2.5 4.5731 2.9 3.97661 3.4 3.38012C4 2.88304 4.6 2.48538 5.3 2.18713C6 1.88889 6.8 1.69006 7.6 1.69006C8.4 1.69006 9.2 1.88889 9.9 2.18713C10.6 2.48538 11.3 2.88304 11.8 3.47953C12.3 3.97661 12.7 4.67251 13.1 5.36842C13.4 6.06433 13.6 6.76023 13.6 7.65497C13.6 8.45029 13.4 9.24561 13.1 9.94152C12.8 10.538 12.4 11.1345 11.9 11.731ZM16.7 15.4094L13.6 12.3275C14.1 11.6316 14.5 10.9357 14.8 10.1404C15.1 9.34503 15.2 8.45029 15.2 7.55556C15.2 6.46199 15 5.46784 14.6 4.5731C14.2 3.67836 13.7 2.88304 13 2.18713C12.3 1.49123 11.5 0.994152 10.6 0.596491C9.7 0.19883 8.7 0 7.6 0C6.6 0 5.6 0.19883 4.6 0.596491C3.7 0.994152 2.9 1.49123 2.2 2.18713C1.5 2.88304 1 3.67836 0.6 4.67251C0.2 5.56725 0 6.5614 0 7.65497C0 8.64912 0.2 9.64327 0.6 10.6374C1 11.5322 1.6 12.3275 2.3 13.0234C3 13.7193 3.8 14.2164 4.7 14.7134C5.6 15.0117 6.6 15.2105 7.6 15.2105C8.5 15.2105 9.4 15.1111 10.2 14.8129C11 14.5146 11.8 14.117 12.4 13.6199L15.5 16.7018C15.7 16.9006 15.9 17 16.1 17C16.3 17 16.5 16.9006 16.7 16.7018C16.9 16.5029 17 16.3041 17 16.1053C17 15.807 16.9 15.6082 16.7 15.4094Z" fill="#111111"/>
                  </svg>

                  </a>
                </li>
              {% endif %}
            {% endif %}

            {% if section.settings.header_use_account %}
              <li class="signin item-list hide-mobile">
                {% unless customer %}
                  {%- assign page_type = request.page_type | handle -%}
                  <a
                    href="{{ routes.root_url }}account/login"
                    {% if page_type != 'customers-login' %}
                      data-id="#login_pupop"
                    {% endif %}
                    class="push_side header-icon"
                    title="{{'customer.login.log_in' | t}}"
                  >
                    {%- render 'icon-login' -%}
                    <span class="text">
                        <span class="l">{{ 'customer.login.log_in' | t }}</span>
                        <span class="a">{{ 'customer.login.account' | t }}</span>
                    </span>
                  </a>
                {% else %}
                  <a
                    href="{{ routes.account_url }}"
                    class="push_side header-icon"
                    title="{{'customer.login.account' | t}}"
                  >
                    {%- render 'icon-login' -%}
                    <span class="text">
                      <span class="l">{{ customer.name }}</span>
                      <span class="a">{{ 'customer.login.account' | t }}</span>
                    </span>
                  </a>
                {% endunless %}
              </li>
            {% endif %}

            {% if section.settings.header_use_wishlist_home %}
              <li class="alo-wishlist hide-mobile">
                <a
                  {% if page_title != 'wishlist' %}
                    data-id="#wishlist_popup"
                  {% endif %}
                  href="{{ routes.root_url }}pages/wishlist"
                  class="push_side header-icon"
                  title="{{'general.wishlist.title' | t}}"
                >
                  <svg height="27" viewBox="0 0 20 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M18.3887 1.55421C17.3506 0.55606 15.9769 0 14.5491 0C13.1212 0 11.7475 0.55606 10.7094 1.55421L10 2.24289L9.29063 1.55421C8.25514 0.549292 6.87729 -0.00765789 5.44682 0.000470637C4.01902 -0.00635871 2.64421 0.550561 1.61125 1.55421C1.10276 2.0382 0.697356 2.6234 0.420188 3.27353C0.14302 3.92365 0 4.62483 0 5.33357C0 6.0423 0.14302 6.74348 0.420188 7.3936C0.697356 8.04373 1.10276 8.62894 1.61125 9.11292L9.4391 16.7724C9.51585 16.8408 9.60199 16.8974 9.6948 16.9404C9.89078 17.0199 10.1092 17.0199 10.3052 16.9404C10.398 16.8974 10.4841 16.8408 10.5609 16.7724L18.3887 9.11292C18.8972 8.62894 19.3026 8.04373 19.5798 7.3936C19.857 6.74348 20 6.0423 20 5.33357C20 4.62483 19.857 3.92365 19.5798 3.27353C19.3026 2.6234 18.8972 2.0382 18.3887 1.55421ZM18.3887 5.31677C18.3911 5.81361 18.2943 6.30576 18.1043 6.7634C17.9143 7.22103 17.6351 7.63463 17.2834 7.97912L10 15.1179L2.7248 7.97912C2.36775 7.63749 2.08319 7.22502 1.88868 6.76713C1.69417 6.30925 1.59382 5.81565 1.59382 5.31677C1.59382 4.81789 1.69417 4.32429 1.88868 3.86641C2.08319 3.40852 2.36775 2.99605 2.7248 2.65442C3.45741 1.94171 4.43359 1.54714 5.44682 1.55421C6.46509 1.5463 7.44671 1.94068 8.18532 2.65442L9.4391 3.88901C9.51585 3.95737 9.60199 4.01396 9.6948 4.05698C9.89078 4.13645 10.1092 4.13645 10.3052 4.05698C10.398 4.01396 10.4841 3.95737 10.5609 3.88901L11.8229 2.65442C12.5555 1.94171 13.5317 1.54714 14.5449 1.55421C15.5632 1.5463 16.5448 1.94068 17.2834 2.65442C17.6381 2.99747 17.9204 3.41042 18.1133 3.86813C18.3061 4.32583 18.4055 4.81872 18.4052 5.31677H18.3887Z" fill="#111111"/>
                  </svg>
                  <span class="header__counter" data-js-wishlist-count="0">0</span>
                  <span class="text">
                      <span class="l">{{'general.wishlist.favorite' | t}}</span>
                      <span class="a">{{'general.wishlist.title' | t}}</span>
                    </span>  
                </a>
              </li>
            {% endif %}
              <li class="alo-compare hide-mobile" {% if section.settings.header_use_compare_home == false %} style="display: none;"{% endif %}>
                <a
                  href="#"
                  class="push_side header-icon"
                  data-js-popup-button="compare-full"
                  title="{{'general.compare.title' | t}}"
                >
                  <svg  height="27" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M7 1.98047L11.5254 4.25L7 6.51953L2.47461 4.25L7 1.98047ZM6.74023 0.818359L0.902344 3.73047C0.75651 3.80339 0.65625 3.91732 0.601562 4.07227C0.55599 4.2181 0.569661 4.36393 0.642578 4.50977C0.669922 4.57357 0.70638 4.62826 0.751953 4.67383C0.797526 4.71029 0.847656 4.74219 0.902344 4.76953L6.74023 7.68164C6.82227 7.72721 6.90885 7.75 7 7.75C7.09115 7.75 7.17773 7.72721 7.25977 7.68164L13.0977 4.76953C13.2435 4.69661 13.3392 4.58724 13.3848 4.44141C13.4395 4.28646 13.4303 4.13607 13.3574 3.99023C13.3301 3.92643 13.2936 3.8763 13.248 3.83984C13.2025 3.79427 13.1523 3.75781 13.0977 3.73047L7.25977 0.804688C7.17773 0.768229 7.09115 0.75 7 0.75C6.90885 0.75 6.82227 0.768229 6.74023 0.804688V0.818359ZM0.902344 10.6074L6.74023 13.5195C6.82227 13.5651 6.90885 13.5833 7 13.5742C7.09115 13.5742 7.17773 13.556 7.25977 13.5195L13.0977 10.6074C13.2435 10.5345 13.3392 10.4206 13.3848 10.2656C13.4395 10.1107 13.4303 9.96484 13.3574 9.82812C13.2845 9.68229 13.1706 9.58659 13.0156 9.54102C12.8607 9.48633 12.7148 9.49089 12.5781 9.55469L7 12.3438L1.42188 9.56836C1.28516 9.49544 1.13932 9.48633 0.984375 9.54102C0.829427 9.58659 0.715495 9.68229 0.642578 9.82812C0.569661 9.96484 0.55599 10.1107 0.601562 10.2656C0.65625 10.4206 0.75651 10.5345 0.902344 10.6074ZM0.902344 7.68164L6.74023 10.6074C6.82227 10.6439 6.90885 10.6621 7 10.6621C7.09115 10.6621 7.17773 10.6439 7.25977 10.6074L13.0977 7.68164C13.2435 7.61784 13.3392 7.50846 13.3848 7.35352C13.4395 7.19857 13.4303 7.04818 13.3574 6.90234C13.2845 6.75651 13.1706 6.66081 13.0156 6.61523C12.8607 6.56055 12.7148 6.56966 12.5781 6.64258L7 9.43164L1.42188 6.64258C1.28516 6.56966 1.13932 6.56055 0.984375 6.61523C0.829427 6.66081 0.715495 6.75651 0.642578 6.90234C0.569661 7.04818 0.55599 7.19857 0.601562 7.35352C0.65625 7.50846 0.75651 7.6224 0.902344 7.69531V7.68164Z" fill="#111111"></path>
                    </svg>
                  <span class="header__counter" data-js-compare-count="0">0</span>
                </a>
              </li>
            {% if section.settings.header_use_cart_home %}
              <li class="box-minicart">
                <div class="minicart ">
                  <div class="cart-block  box-has-content">
                    <a
                      href="{{ routes.cart_url }}"
                      class="push_side header-icon"
                      {% if request.page_type != 'cart' %}
                        data-id="#js_cart_popup"
                      {% endif %}
                      title="{{'cart.general.title' | t}}"
                    >
                      {%- render 'icon-cart' -%}
                      <span class="header__counter js-cart-count" data-js-cart-count="{{ cart.item_count }}">
                        {{- cart.item_count -}}
                      </span>
                      <span data-total-price class="total-price">
                        <span class="text">{{ 'cart.general.title' | t }} </span>
                        <span class="js-total-price"> {{ cart.total_price | money }}</span>
                      </span>
                    </a>

                    
                  </div>
                </div>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
      {% if section.settings.hide_search_mobile == false %}              
        {%- render 'header-search-mobile' -%}
      {% endif %}  
    </div>
  </div>
  <div
    class="{% if settings.vertical_menu_position == '3' %}no-vertical{% endif %} navigationMenu hide-mobile alo-background-color"
    style="--alo-background-color:{{ section.settings.cl_bg_menu }}"
  >
    <div
      class="container {% if section.settings.layout == 'full-width' %}{{section.settings.layout}} {% endif %} {% if section.settings.custom_width %}alo-custom-width{% endif %}"
      {% if section.settings.custom_width %}
        style="--alo-custom-width:{{ section.settings.container_width }}px;"
      {% endif %}
    >
      <div class="row row-0">
        {%- if settings.use_vertical_menu -%}
          {% if settings.vertical_menu_position == '1' or settings.vertical_menu_position == '2' %}
            <div class="col-auto vertical_menu">
              <div class="title_vertical_menu {% if settings.vertical_menu_position == '1' or request.page_type !='index'%}click{% endif %} flex">
                <span class="icon-left">
                  <svg width="18" height="13" viewBox="0 0 18 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.5 7.5H16.5C16.7344 7.5 16.9297 7.42188 17.0859 7.26562C17.2552 7.09635 17.3398 6.89453 17.3398 6.66016C17.3398 6.4388 17.2552 6.25 17.0859 6.09375C16.9297 5.92448 16.7344 5.83984 16.5 5.83984H1.5C1.26562 5.83984 1.0638 5.92448 0.894531 6.09375C0.738281 6.25 0.660156 6.4388 0.660156 6.66016C0.660156 6.89453 0.738281 7.09635 0.894531 7.26562C1.0638 7.42188 1.26562 7.5 1.5 7.5ZM1.5 2.5H16.5C16.7344 2.5 16.9297 2.42188 17.0859 2.26562C17.2552 2.09635 17.3398 1.89453 17.3398 1.66016C17.3398 1.4388 17.2552 1.25 17.0859 1.09375C16.9297 0.924479 16.7344 0.839844 16.5 0.839844H1.5C1.26562 0.839844 1.0638 0.924479 0.894531 1.09375C0.738281 1.25 0.660156 1.4388 0.660156 1.66016C0.660156 1.89453 0.738281 2.09635 0.894531 2.26562C1.0638 2.42188 1.26562 2.5 1.5 2.5ZM1.5 12.5H16.5C16.7344 12.5 16.9297 12.4219 17.0859 12.2656C17.2552 12.0964 17.3398 11.8945 17.3398 11.6602C17.3398 11.4388 17.2552 11.25 17.0859 11.0938C16.9297 10.9245 16.7344 10.8398 16.5 10.8398H1.5C1.26562 10.8398 1.0638 10.9245 0.894531 11.0938C0.738281 11.25 0.660156 11.4388 0.660156 11.6602C0.660156 11.8945 0.738281 12.0964 0.894531 12.2656C1.0638 12.4219 1.26562 12.5 1.5 12.5Z" fill="#212529"/>
                  </svg>
                </span>
                <span class="title">{{ settings.title_vertical }}</span>
              </div>
              {% if settings.vertical_menu_position == '1' or request.page_type != 'index' %}
                {%- render 'list-vertical-menu' -%}
              {% endif %}
            </div>
          {%- endif -%}
        {%- endif -%}
        <div class="ps-static col">
          {%- render 'menu', se_blocks: se_blocks, tp_blocks: tp_blocks -%}
        </div>
        {% if section.settings.custom_html != blank %}
          <div class="custom_html col-auto">
            <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M439.39 362.29c-19.32-20.76-55.47-51.99-55.47-154.29 0-77.7-54.48-139.9-127.94-155.16V32c0-17.67-14.32-32-31.98-32s-31.98 14.33-31.98 32v20.84C118.56 68.1 64.08 130.3 64.08 208c0 102.3-36.15 133.53-55.47 154.29-6 6.45-8.66 14.16-8.61 21.71.11 16.4 12.98 32 32.1 32h383.8c19.12 0 32-15.6 32.1-32 .05-7.55-2.61-15.27-8.61-21.71zM67.53 368c21.22-27.97 44.42-74.33 44.53-159.42 0-.2-.06-.38-.06-.58 0-61.86 50.14-112 112-112s112 50.14 112 112c0 .2-.06.38-.06.58.11 85.1 23.31 131.46 44.53 159.42H67.53zM224 512c35.32 0 63.97-28.65 63.97-64H160.03c0 35.35 28.65 64 63.97 64z"/></svg>
            {{ section.settings.custom_html }}
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>
{% if section.settings.sticky_top %}
  {% assign height-header = '0px' %}
{% else %}
  {% assign height-header = '130px' %}
{% endif %}                
{%style%}
    .alo_slidershow {--height-header: {{height-header}};}
{%endstyle%}