<div class="laber-social-link socials clearfix">
<ul class="list-socials ">
  {% if settings.footer_social_twitter_enable %}
  <li class="twitter">
    <a class="alo_tooltip" target="_blank" href="{{settings.footer_social_twitter_link}}" title="{{settings.footer_social_twitter_text}}">
      <i class="fa fa-twitter"></i>
      <span class="alo_tooltip-content">Twitter</span>
    </a>
  </li>
  {% endif %}
  {% if settings.footer_social_facebook_enable %}
  <li class="facebook">
    <a class="alo_tooltip" target="_blank" href="{{settings.footer_social_facebook_link}}" title="{{settings.footer_social_facebook_text}}">
      <i class="fa fa-facebook-f"></i>
      <span class="alo_tooltip-content">Facebook</span>
    </a>
  </li>
  {% endif %}
  {% if settings.footer_social_google_enable %}
  <li class="google">
    <a class="alo_tooltip" target="_blank" href="{{settings.footer_social_google_link}}" title="{{settings.footer_social_google_text}}">
      <i class="fa fa-google" aria-hidden="true"></i>
      <span class="alo_tooltip-content">Google</span>
    </a>
  </li>
  {% endif %}
  {% if settings.footer_social_pinterest_enable %}
  <li class="pinterest">
    <a class="alo_tooltip" target="_blank" href="{{settings.footer_social_pinterest_link}}" title="{{settings.footer_social_pinterest_text}}">
      <i class="fa fa-pinterest-p" aria-hidden="true"></i>
      <span class="alo_tooltip-content">Pinterest</span>
    </a>
  </li>
  {% endif %}
  {% if settings.footer_social_instargram_enable %}
  <li class="instagram">
    <a class="alo_tooltip" target="_blank" href="{{settings.footer_social_instargram_link}}" title="{{settings.footer_social_instargram_text}}">
      <i class="fa fa-instagram" aria-hidden="true"></i>
      <span class="alo_tooltip-content">Instagram</span>
    </a>
  </li>
  {% endif %}

  {% if settings.footer_social_tumblr_enable %}
  <li class="tumblr">
    <a class="alo_tooltip" target="_blank" href="{{settings.social_tumblr_link}}" title="{{settings.footer_social_tumblr_text}}">
      <i class="fa fa-tumblr" aria-hidden="true"></i>
      <span class="alo_tooltip-content">Tumblr</span>
    </a>
  </li>
  {% endif %}
  {% if settings.footer_social_snapchat_enable %}
  <li class="snapcha">
    <a class="alo_tooltip" target="_blank" href="{{settings.social_snapchat_link}}" title="{{settings.footer_social_snapchat_text}}">
      <i class="fa fa-snapchat-ghost" aria-hidden="true"></i>
      <span class="alo_tooltip-content">Snapcha</span>
    </a>
  </li>
  {% endif %}
  {% if settings.footer_social_youtube_enable %}
  <li class="youtube">
    <a class="alo_tooltip" target="_blank" href="{{settings.social_youtube_link}}" title="{{settings.footer_social_youtube_text}}">
      <i class="fa fa-youtube"></i>
      <span class="alo_tooltip-content">Youtube</span>
    </a>
  </li>
  {% endif %}
  {% if settings.footer_social_vimeo_enable %}
  <li class="vimeo">
    <a class="alo_tooltip" target="_blank" href="{{settings.social_vimeo_link}}" title="{{settings.footer_social_vimeo_text}}">
      <i class="fa fa-vimeo" aria-hidden="true"></i>
      <span class="alo_tooltip-content">Vimeo</span>
    </a>
  </li>
  {% endif %}
  {% if settings.footer_social_tiktok_enable %}
  <li class="tiktok">
    <a class="alo_tooltip" target="_blank" href="{{settings.social_tiktok_link}}" title="{{settings.footer_social_tiktok_text}}">
      <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M448,209.91a210.06,210.06,0,0,1-122.77-39.25V349.38A162.55,162.55,0,1,1,185,188.31V278.2a74.62,74.62,0,1,0,52.23,71.18V0l88,0a121.18,121.18,0,0,0,1.86,22.17h0A122.18,122.18,0,0,0,381,102.39a121.43,121.43,0,0,0,67,20.14Z"/></svg>
      <span class="alo_tooltip-content">TikTok</span>
    </a>
  </li>
  {% endif %}
  
</ul>
</div>