{{ 'product_sidebar.css' | asset_url | stylesheet_tag }} 
{% liquid
	assign sid = section.id
    assign blocks = section.blocks
%}
<section id="laber_{{sid}}" class="product-sidebar hide-mobile" style="--alo-border-radius:{{ section.settings.border }}px;">     
{%- if blocks.size > 0 -%}
  {%- for block in blocks -%}
  {%- case block.type -%}
  {% when 'menu' %}
          <div class="menu_categories mb-{{ block.settings.mb }}">
            {% if block.settings.title_categories != blank %}
              <h3 class="b-title">
                {{ block.settings.title_categories }}
              </h3>
            {% endif %}
            {% if block.settings.menu %}
              <ul id="menu_mb_ul" class="nav-accordion laber_mb_menu">
                {%- for link in linklists[block.settings.menu].links -%}
                  {%- if link.links != blank -%}
                    <li class="menu-item item-level-0 has-children {% if link.active %}active{% endif %}">
                      <a href="{{link.url}}">
                        <span>
                          {{- link.title -}}
                          <span class="n_products">({{ link.object.all_products_count }})</span></span
                        >
                      </a>
                      <ul class="sub-menu1">
                        {%- for child_link in link.links -%}
                          {%- if child_link.links != blank -%}
                            <li class="menu-item item-level-1 has-children{% if child_link.active %} active{% endif %}">
                              <a href="{{child_link.url}}">
                                <span>{{ child_link.title }} </span>
                              </a>
                              <ul class="sub-menu2">
                                {%- for grandchild_link in child_link.links -%}
                                  <li class="menu-item item-level-2{% if grandchild_link.active %} active{% endif %}">
                                    <a href="{{grandchild_link.url}}"> {{ grandchild_link.title }}</a>
                                  </li>
                                {%- endfor -%}
                              </ul>
                            </li>
                          {%- else -%}
                            <li class="menu-item item-level-1{% if child_link.active %} active{% endif %}">
                              <a href="{{child_link.url}}">
                                {{ child_link.title }}
                              </a>
                            </li>
                          {%- endif -%}
                        {%- endfor -%}
                      </ul>
                    </li>
                  {%- else -%}
                    <li class="menu-item item-level-0{% if link.active %} active{% endif %}">
                      <a href="{{link.url}}"
                        ><span>
                          {{- link.title }}
                          <span class="n_products">({{ link.object.all_products_count }})</span></span
                        ></a
                      >
                    </li>
                  {%- endif -%}
                {%- endfor -%}
              </ul>
            {% endif %}
          </div>  
  {%- when 'benefit' -%}
    <div class="laber_benefit mb-{{ block.settings.mb }}">
      {% if block.settings.show_benefit_1 %}
      <div class="item-benefit">
        {%- if block.settings.source == '1' -%}
          <div class="icon">
            <i class="{{block.settings.icon}}"></i>
          </div>
        {%- elsif block.settings.source == '2' -%}
        <div class=" icon img">
          {% assign image = block.settings.icon_img %}
          {% if image != blank %} 
              {% render 'responsive-image', image: image, image_class: 'w-full h-full' %}
            {% else %}
                  {% capture current %}{% cycle 1, 2, 3, 4, 5 %}{% endcapture %}
                  {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg w-full h-full' }}
            {% endif %}
        </div>
        {%- else -%}
        <div class="icon">
          {{block.settings.text_svg}}
        </div>
        {%- endif -%}
        <div class="content">
          <h4 class="title">{{block.settings.title}}</h4>
          <p>{{block.settings.content}}</p>
        </div>
      </div>
      {%endif%}
      
      
      {% if block.settings.show_benefit_2 %}
      <div class="item-benefit">
        {%- if block.settings.source == '1' -%}
        <div class="icon">
          <i class="{{block.settings.icon2}}"></i>
        </div>
        {%- elsif block.settings.source == '2' -%}
        <div class=" icon img">
         {% assign image = block.settings.icon_img2 %}
          {% if image != blank %} 
              {% render 'responsive-image', image: image, image_class: 'w-full h-full' %}
            {% else %}
                  {% capture current %}{% cycle 1, 2, 3, 4, 5 %}{% endcapture %}
                  {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg w-full h-full' }}
            {% endif %}
        </div>
        {%- else -%}
        <div class="icon">
          {{block.settings.text_svg2}}
        </div>
        {%- endif -%}
        <div class="content">
          <h4 class="title">{{block.settings.title2}}</h4>
          <p>{{block.settings.content2}}</p>
        </div>
      </div>
      {%endif%}
      
      
      {% if block.settings.show_benefit_3 %}
      <div class="item-benefit">
        {%- if block.settings.source == '1' -%}
        <div class="icon">
          <i class="{{block.settings.icon3}}"></i>
        </div>
        {%- elsif block.settings.source == '2' -%}
        <div class=" icon img">
          {% assign image = block.settings.icon_img3 %}
          {% if image != blank %} 
              {% render 'responsive-image', image: image, image_class: 'w-full h-full' %}
            {% else %}
                  {% capture current %}{% cycle 1, 2, 3, 4, 5 %}{% endcapture %}
                  {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg w-full h-full' }}
            {% endif %}
        </div>
        {%- else -%}
        <div class="icon">
          {{block.settings.text_svg3}}
        </div>
        {%- endif -%}
        <div class="content">
          <h4 class="title">{{block.settings.title3}}</h4>
          <p>{{block.settings.content3}}</p>
        </div>
      </div>
      {%endif%}

    {% if block.settings.show_benefit_4 %}
      <div class="item-benefit">
        {%- if block.settings.source == '1' -%}
        <div class="icon">
          <i class="{{block.settings.icon4}}"></i>
        </div>
        {%- elsif block.settings.source == '2' -%}
        <div class=" icon img">
          {% assign image = block.settings.icon_img4 %}
          {% if image != blank %} 
              {% render 'responsive-image', image: image, image_class: 'w-full h-full' %}
            {% else %}
                  {% capture current %}{% cycle 1, 2, 3, 4, 5 %}{% endcapture %}
                  {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg w-full h-full' }}
            {% endif %}
        </div>
        {%- else -%}
        <div class="icon">
          {{block.settings.text_svg4}}
        </div>
        {%- endif -%}
        <div class="content">
          <h4 class="title">{{block.settings.title4}}</h4>
          <p>{{block.settings.content4}}</p>
        </div>
      </div>
      {%endif%}
    
    </div>
    {%- when 'promobox' -%}
    {% liquid
      assign sett_equal = block.settings.use_eq_height
      assign image_ratio = block.settings.image_ratio
      if sett_equal 
         case image_ratio   
            when 'ratio2_1'
                assign aspect_ratio = 2.0
            when 'ratio3_2'
                assign aspect_ratio = 1.5
            when 'ratio4_3'
                assign aspect_ratio = 1.333
            when 'ratio1_1'
                assign aspect_ratio = 1.0
            when 'ratio3_4'
                assign aspect_ratio = 0.75
            when 'ratio2_3'
                assign aspect_ratio = 0.66667
            when 'ratio1_2'
                assign aspect_ratio = 0.5
         endcase 
      endif
    %}
    <div class="laber_promobox mb-{{ block.settings.mb }}">
      <div class="promobox">
        {% assign image = block.settings.image_promobox %}
        {% assign open_link = block.settings.open_link %}
        {% assign url = block.settings.url %}
        <div  class="images-card overflow-hidden w-full h-full alo-border-radius" {{ block.shopify_attributes }}>
            {% if image != blank %} 
              {% render 'responsive-image', image: image, aspect_ratio:aspect_ratio, open_link:open_link, image_class: 'w-full h-full',url: url %}
            {% else %}
              {% if aspect_ratio != blank %}
               {%- assign ratio =  1 | divided_by: aspect_ratio | times: 100 -%}
              {% else %}
                  {%- assign ratio = 100 -%}
              {% endif %}
              <div class="image-card__img overflow-hidden ratio" style="--ratio-percent: {{ ratio }}%;">
                {% capture current %}{% cycle 1, 2, 3, 4 %}{% endcapture %}
                 {{ 'product-apparel-' | append: current | placeholder_svg_tag: 'placeholder-svg w-full h-full' }}
              </div>
            {% endif %}
        </div>
      </div>
    </div>
        {%- when 'product' -%}
			<div id="bl_{{block.id}}" class="laber-product mb-{{ block.settings.mb }}">
              {%if block.settings.title != blank%}	
              	<h3 class="b-title">{{block.settings.title}}</h3>
              {%endif%}
              <div class="products-column">
                <div class="list-product">
                   {%- assign products = block.settings.product_list -%} 
                  {% if products %}
                    {%- for product in products -%}
                        {% render 'product-column', product: product %}
                    {%- endfor -%}  
                  {% else %}
                       {%- for i in (1..4) -%}
                        <div class="product-item">
                          {% render 'product_demo_column' %} 
                        </div>
                      {%- endfor -%}
                  {% endif %}  
                </div>
              </div>
  			</div>
  
  {%- endcase -%}
  {%- endfor -%}
{%- endif -%} 
</section>
{%- render 'section_style' -%}
{% schema %}
  {
    "name": "Product Sidebar",
	"class":"laber-product-sidebar laberProducts-column",
		"settings": [
			 {
            "type": "header",
            "content": "== Setting"
            },
            {
            "type": "color",
            "id": "cl_bg",
            "label": "Background color",
            "default": "#fff"
            },
            {
               "type": "range",
               "id": "border",
               "label": "Border",
               "min": 0,
               "max": 50,
               "step": 1,
               "unit": "px",
               "default": 0
            },
            {
            "type": "header",
            "content": "== Setting PC",
            "info":"Margin"
            },	
            {
            "type": "text",
            "id": "mg",
            "label": "Margin",
            "info":"Margin top, margin right, margin bottom, margin left. If you not use to blank"
            },
            {
            "type": "text",
            "id": "pd",
            "label": "Padding",
            "info":"Padding top, padding right, padding bottom, padding left. If you not use to blank"
            },
            {
            "type": "text",
            "id": "bd",
            "label": "Border",
            "info":"border top  border right border bottom  border left. If you not use to blank"
            },
            {
            "type": "header",
            "content": "== Design Mobile Options"
            },
            {
            "type": "text",
            "id": "mg_mb",
            "label": "Margin"
            },
            {
            "type": "text",
            "id": "pd_mb",
            "label": "Padding"
            }
		],
      "blocks": [
        {
        "type": "menu",
        "name": "Menu Categories",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title_categories",
            "label": "Title",
            "default": "Product Categories"
          },
          {
            "type": "link_list",
            "id": "menu",
            "label": "Add menu"
          },
            {  
              "type": "range",  
              "id": "mb",  
              "label": "Margin bottom",  
              "min": 0,
              "max": 30,
              "step": 5,
              "default": 30
            }
        ]
      },
		{
          "type": "benefit",
          "name": "Benefit",
          "limit": 1,
		  "settings": [
			{
            "type": "header",
            "content": "== General Settings"
            },
            {
            "type": "select",
            "id": "source",
            "label": "Show icon",
            "default": "2",
            "options": [
            {
            "value": "1",
            "label": "icon font"
            },
            {
            "value": "2",
            "label": "icon image"
            },
            {
            "value": "3",
            "label": "icon SVG"
            }
            ]
            },
            {
            "type": "header",
            "content": "== Benefit 1"
            },
			{
            "type": "checkbox",
            "id": "show_benefit_1",
            "label": "Show Benefit 1",
            "default": true
            },
            {
            "type": "text",
            "id": "icon",
            "label": "Icons name",
            "default": "fa fa-truck"
            },
            {
            "type": "image_picker",
            "id": "icon_img",
            "label": "icon image",
            "info" : "Dimension: 24x24"
            },
            {
            "type": "textarea",
            "id": "text_svg",
            "label": "code icon SVG"
            },	
            {
            "type": "header",
            "content": "== Text Options"
            },
            {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Add a title"
            },
            {
            "type": "textarea",
            "id": "content",
            "label": "Content"
            },
			{
            "type": "header",
            "content": "== Benefit 2"
            },
			{
            "type": "checkbox",
            "id": "show_benefit_2",
            "label": "Show Benefit 2",
            "default": true
            },
            {
            "type": "text",
            "id": "icon2",
            "label": "Icons name",
            "default": "fa fa-truck"
            },
            {
            "type": "image_picker",
            "id": "icon_img2",
            "label": "icon image",
            "info" : "Dimension: 24x24"
            },
            {
            "type": "textarea",
            "id": "text_svg2",
            "label": "code icon SVG"
            },	
            {
            "type": "header",
            "content": "== Text Options"
            },
            {
            "type": "text",
            "id": "title2",
            "label": "Heading",
            "default": "Add a title"
            },
            {
            "type": "textarea",
            "id": "content2",
            "label": "Content 2"
            },
			{
            "type": "header",
            "content": "== Benefit 3"
            },
			{
            "type": "checkbox",
            "id": "show_benefit_3",
            "label": "Show Benefit 3",
            "default": true
            },
            {
            "type": "text",
            "id": "icon3",
            "label": "Icons name",
            "default": "fa fa-truck"
            },
            {
            "type": "image_picker",
            "id": "icon_img3",
            "label": "icon image",
            "info" : "Dimension: 24x24"
            },
            {
            "type": "textarea",
            "id": "text_svg3",
            "label": "code icon SVG"
            },	
            {
            "type": "header",
            "content": "== Text Options"
            },
            {
            "type": "text",
            "id": "title3",
            "label": "Heading",
            "default": "Add a title"
            },
            {
            "type": "textarea",
            "id": "content3",
            "label": "Content 3"
            },
            {
            "type": "header",
            "content": "== Benefit 4"
            },
			{
            "type": "checkbox",
            "id": "show_benefit_4",
            "label": "Show Benefit 4",
            "default": true
            },
            {
            "type": "text",
            "id": "icon4",
            "label": "Icons name",
            "default": "fa fa-truck"
            },
            {
            "type": "image_picker",
            "id": "icon_img4",
            "label": "icon image",
            "info" : "Dimension: 24x24"
            },
            {
            "type": "textarea",
            "id": "text_svg4",
            "label": "code icon SVG"
            },	
            {
            "type": "header",
            "content": "== Text Options"
            },
            {
            "type": "text",
            "id": "title4",
            "label": "Heading",
            "default": "Add a title"
            },
            {
            "type": "textarea",
            "id": "content4",
            "label": "Content 4"
            },
            {  
              "type": "range",  
              "id": "mb",  
              "label": "Margin bottom",  
              "min": 0,
              "max": 30,
              "step": 5,
              "default": 30
            }
		 ]
        },
          {
          "type": "promobox",
          "name": "Promo box (Banner)",
           "limit": 1, 
          "settings": [
              {
              "type": "url",
              "id": "url",
              "label": "URL for banner"
              },
              {
              "type": "select",
              "id": "open_link",
              "options": [
              {
              "value": "_self",
              "label": "Current window (_self)"
              },
              {
              "value": "_blank",
              "label": "New window (_blank)"
              }
              ],
              "label": "Open link in",
              "default": "_blank"
              },
              {
              "type": "image_picker",
              "id": "image_promobox",
              "label": "Image"
              },
              {
                "type": "checkbox",
                "id": "use_eq_height",
                "label": "Use equal height images?",
                "default": false
              },
              {
                "type": "select",
                "id": "image_ratio",
                "label": "Aspect Ratio",
                "default": "ratio3_2",
                "info": "Aspect Ratio Custom will settings in General panel.",
                "options": [
                  {
                    "group": "Landscape",
                    "value": "ratio2_1",
                    "label": "2:1"
                  },
                  {
                    "group": "Landscape",
                    "value": "ratio3_2",
                    "label": "3:2"
                  },
                  {
                    "group": "Landscape",
                    "value": "ratio4_3",
                    "label": "4:3"
                  }, 
                  {
                    "group": "Squared",
                    "value": "ratio1_1",
                    "label": "1:1"
                  },
                  {
                    "group": "Portrait",
                    "value": "ratio3_4",
                    "label": "3:4"
                  },
                  {
                    "group": "Portrait",
                    "value": "ratio2_3",
                    "label": "2:3"
                  },
                  {
                    "group": "Portrait",
                    "value": "ratio1_2",
                    "label": "1:2"
                  }
                ]
              },
              {  
                "type": "range",  
                "id": "mb",  
                "label": "Margin bottom",  
                "min": 0,
                "max": 30,
                "step": 5,
                "default": 30
              }
            ]
          },
        {
        "type": "product",
        "name": "Product",
        "limit": 1,
        "settings": [
          {
          "type": "header",
          "content": "Select product"
          },
           {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Featured product"
          },
          {
            "type": "product_list",
            "id": "product_list",
            "label": "Products",
            "limit": 4
          },
          {  
            "type": "range",  
            "id": "mb",  
            "label": "Margin bottom",  
            "min": 0,
            "max": 30,
            "step": 5,
            "default": 30
          }
        ]
      }
        
      ],
      "default": {
        "blocks": [
			{ "type": "benefit" }
        ]
      }

  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
